* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", serif;
    line-height: 1.6;
}

#container-top {
    margin: 0 283px;
    padding: 0 32px;
    text-align: center;
    margin-bottom: 48px;
    color: #2C2A29;
}

.top__title {
    font-size: 40px;
    font-family: "Lora", serif;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 50px;
}


.top__images {
    display: flex;
    justify-content: center;
    gap: 34.5px;
    margin: 50px 10px;
}

.top__image--wrapper {
    flex: 1;
    max-width: 600px;
    border-radius: 16px;
    overflow: hidden;
}

.top__image--wrapper img {
    width: 100%;
    height: auto;
    display: block;
}

.top__description {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
}

.top__description> :first-child {
    margin-bottom: 16px;
}

#container-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 8px;
    margin: 0 auto;
    padding: 32px;
}

.bottom__image--wrapper,
.bottom__content {
    border-radius: 24px;
    overflow: hidden;
    background-color: #f4f0ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bottom__image--wrapper img {
    width: 100%;
    height: 100%;
    display: block;
}

.bottom__content {
    padding-left: 49px;
    padding-right: 49px;
    padding-top: 293px;
}

.bottom__title {
    margin-bottom: 24px;
}



.bottom__title--primary {
    color: #1F1F1F;
    font-size: 64px;
    font-family: "Lora", serif;
    font-weight: 400;
    line-height: 74px;
    word-wrap: break-word
}

.bottom__subtitle {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
    margin-bottom: 8px;
}

.bottom__title--secondary {
    color: #1F1F1F;
    font-size: 64px;
    font-family: "Lora", serif;
    font-weight: 400;
    line-height: 74px;
    word-wrap: break-word;
    margin-top: 78px;
    ;
    margin-bottom: 40px;
}

.bottom__text {
    color: #1F1F1F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    margin-bottom: 24px;
}

@media (max-width: 768px) {
    #container-top {
        margin: 0;
        padding:8px;
    }
    .top__images{
        margin: 40px 0px;
    }
    .bottom__content{
        padding-top: 34px;
    }
    .bottom__title--secondary{
        margin-top: 0px;
    }

    #container-bottom {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 32px 8px 32px 8px;
    }

    #container-bottom div:nth-child(1) {
        order: 2;
    }

    #container-bottom div:nth-child(2) {
        order: 1;
    }

    #container-bottom div:nth-child(3) {
        order: 3;
    }

    #container-bottom div:nth-child(4) {
        order: 4;
    }
}

